<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>workmanager.background.task</string>
		<string>com.transistorsoft.fetch</string>
		<string>com.transistorsoft.customtask</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Inspector Dottie</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>dottie_inspector</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Inspector Dottie uses access to your camera roll to upload your profile picture and company logo.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) Calendar use.</string>
	<key>NSCameraUsageDescription</key>
	<string>Inspector Dottie uses your device's camera to take photos of your customer's equipment, vessels, safety issues, and broken equipment to be used in the report.</string>
	<key>NSContactsUsageDescription</key>
	<string>Inspector Dottie uses access to your contacts to help you input your customer’s information.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Inspector Dottie uses your device’s location to help you to input your customer’s service address. You can always change this later in your device settings.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Inspector Dottie uses your device’s location to help you to input your customer’s service address. You can always change this later in your device settings.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Inspector Dottie uses your device’s location to help you to input your customer’s service address. You can always change this later in your device settings.</string>
	<key>NSMotionUsageDescription</key>
	<string>$(PRODUCT_NAME) motion use.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Inspector Dottie uses access to your camera roll to upload your profile picture and company logo.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>$(PRODUCT_NAME) speech recognition use.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
